*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav{
    position: fixed;
    top: 0;
}
.video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50;
    left: 0;
  }


html { 
  background: url(readingbookwoman.mp4) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


    .content{
        position: relative;
    }
 
    
    .text{
        position: absolute;
        top:300;
        left:270px;
        justify-content: space-around;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color:darkblue;
    }
  